# requirements_carla.txt
# For VAE, masking, counterfactual explanations (Python 3.11.11)
torch==2.5.0
torchvision==0.20.0
numpy==2.0.2
matplotlib==3.9.2
scikit-learn==1.5.1
lime==0.2.0.1
opencv-python==4.10.0.84
pandas==2.2.2
seaborn==0.13.2
scikit-image==0.24.0
plantuml==0.3.0
tensorboard==2.17.1
sewar==0.4.6
torchviz==0.0.3
scipy==1.15.2

# For fastapi
fastapi == 0.115.8
uvicorn == 0.34.0

# For venn diagram
venny4py==1.0.3